<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2 class="titulo">BMI CALCULATOR</h2>

    <div class="row">
      <div class="col-lg-6">
        <div class="fondo-item pointer"
          [ngClass]="{ 'fondo-item-select': sexo.toLowerCase() === 'masculino' }"
          (click)="selectSexo('masculino')">
          <div class="contenedor">
            <span><i class="fa-solid fa-mars sexo"></i></span>
            <p>Masculino</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="fondo-item pointer"
          [ngClass]="{ 'fondo-item-select': sexo.toLowerCase() === 'femenino' }"
          (click)="selectSexo('femenino')">
          <div class="contenedor">
            <span><i class="fa-solid fa-venus sexo"></i></span>
            <p>Femenino</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="fondo-item">
          <div class="contenedor">
            <p>Altura</p>
            <div class="estilo-numero">{{ altura['valor'] }} <span class="cm">cm</span></div>
            <input type="range" class="form-range" [(ngModel)]="altura['valor']" [min]="altura['min']" [max]="altura['max']">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="fondo-item">
          <div class="contenedor">
            <p>Peso</p>
            <div class="estilo-numero">{{ campos['peso'] }}</div>
            <div class="mas-menos-container">
              <span class="mas-menos pointer"
                (click)="onClick('disminuir', 'peso')"
                (mousedown)="onMousedown('disminuir', 'peso')"
                (mouseup)="onMouseup()"
                (mouseleave)="onMouseup()">
                <i class="fa-solid fa-minus"></i>
              </span>
              <span class="mas-menos pointer"
                (click)="onClick('aumentar', 'peso')"
                (mousedown)="onMousedown('aumentar', 'peso')"
                (mouseup)="onMouseup()"
                (mouseleave)="onMouseup()">
                <i class="fa-solid fa-plus"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="fondo-item">
          <div class="contenedor">
            <p>Edad</p>
            <div class="estilo-numero">{{ campos['edad'] }}</div>
            <div class="mas-menos-container">
              <span class="mas-menos pointer"
                (click)="onClick('disminuir', 'edad')"
                (mousedown)="onMousedown('disminuir', 'edad')"
                (mouseup)="onMouseup()"
                (mouseleave)="onMouseup()">
                <i class="fa-solid fa-minus"></i>
              </span>
              <span class="mas-menos pointer"
                (click)="onClick('aumentar', 'edad')"
                (mousedown)="onMousedown('aumentar', 'edad')"
                (mouseup)="onMouseup()"
                (mouseleave)="onMouseup()">
                <i class="fa-solid fa-plus"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-lg btn-block btn-color" (click)="calcularBMI()">CALCULAR</button>
      </div>
    </div>

  </div>
</div>
