<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2 class="titulo">BMI CALCULATOR</h2>

    <div class="row">
      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <span><i class="fa-solid fa-mars sexo"></i></span>
            <p>Masculino</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <span><i class="fa-solid fa-venus sexo"></i></span>
            <p>Femenino</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Altura</p>
            <div class="estiloNumero">{{ altura['valor'] }} <span class="cm">cm</span></div>
            <input type="range" class="form-range" [(ngModel)]="altura['valor']" [min]="altura['min']" [max]="altura['max']">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Peso</p>
            <div class="estiloNumero">{{ campos['peso'] }}</div>
            <div class="mas-menos-container">
              <span class="mas-menos" (mousedown)="mousedown('disminuir', 'peso')" (click)="click('disminuir', 'peso')" (mouseup)="mouseup()"><i class="fa-solid fa-minus"></i></span>
              <span class="mas-menos" (mousedown)="mousedown('aumentar', 'peso')" (click)="click('aumentar', 'peso')"  (mouseup)="mouseup()"><i class="fa-solid fa-plus"></i></span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Edad</p>
            <div class="estiloNumero">{{ campos['edad'] }}</div>
            <div class="mas-menos-container">
              <span class="mas-menos" (mousedown)="mousedown('disminuir', 'edad')" (click)="click('disminuir', 'edad')" (mouseup)="mouseup()"><i class="fa-solid fa-minus"></i></span>
              <span class="mas-menos" (mousedown)="mousedown('aumentar', 'edad')" (click)="click('aumentar', 'edad')" (mouseup)="mouseup()"><i class="fa-solid fa-plus"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-lg btn-block btn-color">CALCULAR</button>
      </div>
    </div>

  </div>
</div>
