<div *ngIf="error.length > 0" class="alert alert-dismissible alert-danger text-center">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <strong>{{ error | uppercase }}</strong>
</div>

<div class="container pt-4">
  <div class="row">
    <div class="col-lg-4">
      <img src="assets/clima.png" alt="Imagen Clima" width="300px" height="300px">
    </div>

    <div class="col-lg-6">
      <input type="text" class="form-control form-control-lg big" placeholder="Ingrese Ciudad"
        [(ngModel)]="results.ciudad">

      <div class="d-grid mt-3">
        <button class="btn btn-primary btn-lg big" type="button"
          (click)="obtenerClima()"
          [disabled]="results.ciudad.length === 0">
          OBTENER CLIMA
          <span *ngIf="spinnerEnabled" class="spinner-grow spinner-grow-lg" role="status" aria-hidden="true"></span>
        </button>
      </div>

      <div *ngIf="results.clima.length !== 0" class="card text-white bg-primary mt-3">
        <h4 class="card-header">Clima para {{ results.ciudad }}</h4>
        <div class="card-body">
          <div class="card-text"><strong>Temperatura: {{ results.temperatura | number:'1.0-1' }} ℃</strong></div>
          <div class="card-text"><strong>Humedad: {{ results.humedad }} %</strong></div>
          <div class="card-text"><strong>Clima: {{ results.clima }}</strong></div>
        </div>
      </div>
    </div>

  </div>
</div>
