<h4 class="text-center">Ingresa Gasto</h4>
<hr>
<div class="text-center">
  <span class="badge bg-danger" *ngIf="error != ''">{{ error | uppercase }}</span>
</div>
<div class="form-group mb-4">
  <label for="categoria">Categoría</label>
  <input type="text" id="categoria" [(ngModel)]="gasto.categoria" class="form-control form-control-lg" placeholder="Ej: Comida...">
</div>
<div class="form-group mb-4">
  <label for="cantidad">Cantidad</label>
  <input type="number" id="cantidad" [(ngModel)]="gasto.cantidad" class="form-control form-control-lg" placeholder="Ingrese cantidad">
</div>
<button (click)="agregarGasto()" class="btn btn-secondary btn-lg btn-block mt-2">AGREGAR GASTO</button>
