.container {
  padding: 1em;
  text-align: center;
}

.semaforo {
  margin: 0 auto;
  border-radius: 50%;
  background-color: gray;
  width: 300px;
  height: 300px;
}

.semaforo-out {
  height: 300px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}
