<div class="container">
  <div class="row">
    <div class="col-lg-4">

      <div class="list-group">
        <a (click)="playSong(1)" class="list-group-item list-group-item-action" style="background-color: red;"></a>
        <a (click)="playSong(2)" class="list-group-item list-group-item-action" style="background-color: orange;"></a>
        <a (click)="playSong(3)" class="list-group-item list-group-item-action" style="background-color: yellow;"></a>
        <a (click)="playSong(4)" class="list-group-item list-group-item-action" style="background-color: green;"></a>
        <a (click)="playSong(5)" class="list-group-item list-group-item-action" style="background-color: teal;"></a>
        <a (click)="playSong(6)" class="list-group-item list-group-item-action" style="background-color: blue;"></a>
        <a (click)="playSong(7)" class="list-group-item list-group-item-action" style="background-color: purple;"></a>
      </div>

    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
      <audio controls>
        <source src="../assets/sounds/note1.wav">
      </audio>
    </div>
  </div> -->

</div>
